In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv('../data/india_road_accidents.csv')

# View first rows
df.head()

,State Name,City Name,Year,Month,Day of Week,Time of Day,Accident Severity,Number of Vehicles Involved,Vehicle Type Involved,Number of Casualties,...,Road Type,Road Condition,Lighting Conditions,Traffic Control Presence,Speed Limit (km/h),Driver Age,Driver Gender,Driver License Status,Alcohol Involvement,Accident Location Details
0,Jammu and Kashmir,Unknown,2021,May,Monday,1:46,Serious,5,Cycle,0,...,National Highway,Wet,Dark,Signs,61,66,Male,NaN,Yes,Curve
1,Uttar Pradesh,Lucknow,2018,January,Wednesday,21:30,Minor,5,Truck,5,...,Urban Road,Dry,Dusk,Signs,92,60,Male,NaN,Yes,Straight Road
2,Chhattisgarh,Unknown,2023,May,Wednesday,5:37,Minor,5,Pedestrian,6,...,National Highway,Under Construction,Dawn,Signs,120,26,Female,NaN,No,Bridge
3,Uttar Pradesh,Lucknow,2020,June,Saturday,0:31,Minor,3,Bus,10,...,State Highway,Dry,Dark,Signals,76,34,Female,Valid,Yes,Straight Road
4,Sikkim,Unknown,2021,August,Thursday,11:21,Minor,5,Cycle,7,...,Urban Road,Wet,Dusk,Signs,115,30,Male,NaN,No,Intersection

In [9]:
# Basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State Name                   3000 non-null   object
 1   City Name                    3000 non-null   object
 2   Year                         3000 non-null   int64
 3   Month                        3000 non-null   object
 4   Day of Week                  3000 non-null   object
 5   Time of Day                  3000 non-null   object
 6   Accident Severity            3000 non-null   object
 7   Number of Vehicles Involved  3000 non-null   int64
 8   Vehicle Type Involved        3000 non-null   object
 9   Number of Casualties         3000 non-null   int64
 10  Number of Fatalities         3000 non-null   int64
 11  Weather Conditions           3000 non-null   object
 12  Road Type                    3000 non-null   object
 13  Road Condition               3000 non-null   object
 14  Lighting Conditions          3000 non-null   object
 15  Traffic Control Presence     2284 non-null   object
 16  Speed Limit (km/h)           3000 non-null   int64
 17  Driver Age                   3000 non-null   int64
 18  Driver Gender                3000 non-null   object
 19  Driver License Status        2025 non-null   object
 20  Alcohol Involvement          3000 non-null   object
 21  Accident Location Details    3000 non-null   object
dtypes: int64(6), object(16)
memory usage: 515.8+ KB

In [2]:
# Summary statistics
df.describe(include='all')

,State Name,City Name,Year,Month,Day of Week,Time of Day,Accident Severity,Number of Vehicles Involved,Vehicle Type Involved,Number of Casualties,...,Road Type,Road Condition,Lighting Conditions,Traffic Control Presence,Speed Limit (km/h),Driver Age,Driver Gender,Driver License Status,Alcohol Involvement,Accident Location Details
count,3000,3000,3000.000000,3000,3000,3000,3000,3000.000000,3000,3000.000000,...,3000,3000,3000,2284,3000.000000,3000.00000,3000,2025,3000,3000
unique,32,28,NaN,12,7,1263,3,NaN,7,NaN,...,4,4,4,3,NaN,NaN,2,2,2,4
top,Goa,Unknown,NaN,March,Wednesday,18:24,Minor,NaN,Truck,NaN,...,State Highway,Under Construction,Dark,Signs,NaN,NaN,Female,Valid,Yes,Intersection
freq,109,2138,NaN,266,468,7,1034,NaN,449,NaN,...,771,778,763,812,NaN,NaN,1563,1057,1520,789
mean,NaN,NaN,2020.530000,NaN,NaN,NaN,NaN,2.996000,NaN,5.066000,...,NaN,NaN,NaN,NaN,74.940667,44.17700,NaN,NaN,NaN,NaN
std,NaN,NaN,1.683858,NaN,NaN,NaN,NaN,1.428285,NaN,3.214097,...,NaN,NaN,NaN,NaN,26.765088,15.40286,NaN,NaN,NaN,NaN
min,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,...,NaN,NaN,NaN,NaN,30.000000,18.00000,NaN,NaN,NaN,NaN
25%,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,...,NaN,NaN,NaN,NaN,51.000000,31.00000,NaN,NaN,NaN,NaN
50%,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,3.000000,NaN,5.000000,...,NaN,NaN,NaN,NaN,75.000000,45.00000,NaN,NaN,NaN,NaN
75%,NaN,NaN,2022.000000,NaN,NaN,NaN,NaN,4.000000,NaN,8.000000,...,NaN,NaN,NaN,NaN,99.000000,57.00000,NaN,NaN,NaN,NaN
max,NaN,NaN,2023.000000,NaN,NaN,NaN,NaN,5.000000,NaN,10.000000,...,NaN,NaN,NaN,NaN,120.000000,70.00000,NaN,NaN,NaN,NaN